section {
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1669325513580-dfcd4e0ad564?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1032&q=80") no-repeat;
    background-position: center;
    background-size: cover;
    }
    